<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin signup</title>
</head>
<style>
    body {
        height: 100vh;
    }
    #usform{
        height: 507px;
    }
</style>

<body>
    {% extends 'admin_enquiry/base.html' %}

    {% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-6 col-md-4 col-sm-12 col-10 m-auto shadow">
                <form action="{% url 'usersignup' %}" method="POST" id="usform">
                    {% csrf_token %}
                    <h1 style="text-align: center;">User Registration</h1>

                    {% if messages %}
                    {% for message in messages %}
                    <p class="alert alert-danger alert-dismissible">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{message}}
                    </p>
                    {% endfor %}
                    {% endif %}
                    
                    <label for="fn">Full Name</label>
                    <input type="text" class="form-control" name="fn" id="fn" required>
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" required>
                    <label for="cn">Contact</label>
                    <input type="number" class="form-control" name="cn" id="cn" required>
                    <label for="pwd">Password</label>
                    <input type="text" class="form-control" name="pwd" id="pwd" required>
                    <label for="cpwd">Confirm Password</label>
                    <input type="text" class="form-control" name="cpwd" id="cpwd" required>

                    <input type="submit" value="Signup" class="btn btn-primary mt-3 mb-3">
                    <a href="{% url 'userlogin' %}" class="btn btn-warning">Login</a>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>         