<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin signup</title>
</head>
<style>
    body {
        height: 100vh;
    }
    #asform{
        height: 507px;
    }
</style>

<body>
    {% extends 'admin_enquiry/base.html' %}

    {% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-6 col-md-4 col-sm-12 col-10 m-auto shadow">
                <form action="{% url 'adminsignusubmit' %}" method="POST" id="asform">
                    {% csrf_token %}
                    <h1 style="text-align: center;">Admin Registration</h1>

                    {% if messages %}
                    {% for message in messages %}
                    <p class="alert alert-danger alert-dismissible">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {{message}}
                    </p>
                    {% endfor %}
                    {% endif %}

                    <label for="">Full Name</label>
                    <input type="text" class="form-control" name="fn" required>
                    <label for="">Email</label>
                    <input type="text" class="form-control" name="email" required>
                    <label for="">Password</label>
                    <input type="text" class="form-control" name="pwd" required>
                    <label for="">Confirm Password</label>
                    <input type="text" class="form-control" name="cpwd" required>

                    <input type="submit" value="SignUp" class="btn btn-primary mt-3 mb-3" required>
                    <a href="{% url 'adminlogin' %}" class="btn btn-warning">Login</a>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>