<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<style>
    .footer{
        background-color: black;
        color: white;
        line-height: 3;
        text-align: center;
        /* margin-top: 30px; */

    }
</style>
<body>
    <div class="footer">
        <p> &copy; Copyright 2023. All Rights Reserved by Shivam Chaurasiya</p>
    </div>
</body>
</html>